.app {
  height: 100vh;
  background: rgb(125, 212, 241);
}

/* Tweet component */

.tweet {
  height: 300px;
  width: 300px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
